
$text-heading: 40px!important;
$text-subheading: 32px!important;
$text-title: 28px!important;
$text-subtitle: 24px!important;
$text-body: 16px!important;
$text-description: 14px!important;
$text-small: 12px!important;
$text-xsmall: 10px!important;